.mpParseHtml-comp {
  padding: 0 36px;

  .wxParse {
    // margin: 0 5px;
    font-size: 28px;
    // font-family: Helvetica, sans-serif;
    line-height: 1.8;
    // color: #666;
  }

  .wxParse-inline {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1.75;
  }

  .mb10 {
    margin-bottom: 11px;
  }

  /* //标题 */
  .wxParse-div {
    /* margin: 0; */
    padding: 0;
  }

  .wxParse-h1 {
    margin: 10px 0;
    font-size: 32px;
  }

  .wxParse-h2 {
    margin: 12px 0;
    font-size: 24px;
  }

  .wxParse-h3 {
    margin: 13px 0;
    font-size: 18px;
  }

  .wxParse-h4 {
    margin: 18px 0;
  }

  .wxParse-h5 {
    margin: 24px 0;
    font-size: 13px;
  }

  .wxParse-h6 {
    margin: 26px 0;
    font-size: 12px;
  }

  .wxParse-h1 {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
  }

  .wxParse-h2 {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
  }

  .wxParse-h3 {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
  }

  .wxParse-h4 {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
  }

  .wxParse-h5 {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 13px;
  }

  .wxParse-h6 {
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 12px;
  }

  .wxParse-h1,
  .wxParse-h2,
  .wxParse-h3,
  .wxParse-h4,
  .wxParse-h5,
  .wxParse-h6,
  .wxParse-b,
  .wxParse-strong {
    font-weight: bolder;
  }

  .wxParse-i,
  .wxParse-cite,
  .wxParse-em,
  .wxParse-var,
  .wxParse-address {
    font-style: italic;
  }

  .wxParse-pre,
  .wxParse-tt,
  .wxParse-code,
  .wxParse-kbd,
  .wxParse-samp {
    font-family: monospace;
  }

  .wxParse-pre {
    overflow-x: scroll;
    white-space: pre;
    background: #f5f5f5;

    /* padding: 20px; */
  }

  .wxParse-big {
    font-size: 18px;
  }

  .wxParse-small,
  .wxParse-sub,
  .wxParse-sup {
    font-size: 13px;
  }

  .wxParse-sub {
    vertical-align: sub;
  }

  .wxParse-sup {
    vertical-align: super;
  }

  .wxParse-s,
  .wxParse-strike,
  .wxParse-del {
    text-decoration: line-through;
  }

  /* wxparse-自定义个性化的css样式 */

  /* 增加video的css样式 */
  .wxParse-strong,
  .wxParse-s {
    display: inline;
  }

  .wxParse-a {
    overflow: auto;
    word-break: break-all;
    color: deepskyblue;
  }

  .wxParse-video {
    margin: 10px 0;
    text-align: center;
  }

  .wxParse-video-video {
    width: 100%;
  }

  .wxParse-blockquote {
    padding: 10px 0 10px 5px;
    border-left: 3px solid #dbdbdb;
    font-family: Courier, Calibri, '宋体';
    background: #f5f5f5;
  }

  .wxParse-code,
  .wxParse-wxxxcode-style {
    line-height: 1.75;
    background: #f5f5f5;
  }

  .wxParse-li,
  .wxParse-li-inner {
    align-items: baseline;
    margin: 10px 0;
  }

  .wxParse-li-text {
    align-items: center;
    line-height: 20px;
  }

  .wxParse-li-circle,
  .wxParse-ol-number {
    margin: 10px 10px 10px 0;
  }

  .wxParse-li-circle {
    display: inline-flex;
    width: 5px;
    height: 5px;
    margin-top: 34px !important;
    border-radius: 50%;
    background-color: #333;
  }

  .wxParse-li-square {
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #333;
  }

  .wxParse-li-ring {
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #fff;
  }

  .wxParse-u {
    text-decoration: underline;
  }

  .WxEmojiView {
    align-items: center;
  }

  .wxEmoji {
    width: 16px;
    height: 16px;
  }

  .wxParse-table {
    border-bottom: 1px solid #e0e0e0;
  }

  .wxParse-tr {
    display: flex;
    border-right: 1px solid #e0e0e0;
  }

  .wxParse-th,
  .wxParse-td {
    flex: 1;
    padding: 5px;
    font-size: 28px;
    word-break: break-all;
  }

  .wxParse-th-container,
  .wxParse-td-container {
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }

  .wxParse-td:last {
    border-top: 1px solid #e0e0e0;
  }

  .wxParse-th {
    background: #f0f0f0;
  }

  .wxParse-del {
    display: inline;
  }

  .wxParse-figure {
    overflow: hidden;
  }

  .wxParse-ol-inner,
  .wxParse-ul-inner {
    display: flex;
    align-items: flex-start;
    line-height: 28px;
  }

  .wxParse-img-inner {
    position: relative;
  }

  .wxParse-img {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #efefef;
  }

  .wxParse-img-fadein {
    animation: fade-in 1s linear;
  }

  .img-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    animation: loading 1s linear 0s infinite;
  }

  /* audio */
  .wxParse-audio-inner {
    width: 100%;
    height: 200px;
    margin: 36px 0 48px 0;
  }

  /* hr */
  .wxParse-hr {
    height: 0;
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid#eaecef;
    overflow: hidden;
    background: transparent;
  }

  /* common */
  .mr5 {
    margin-right: 5px;
  }

  .flex-full {
    flex: 1;
  }

  .overflow-hide {
    overflow: hidden;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
